# Dependencies
node_modules/
package.json
package-lock.json
pnpm-lock.yaml
yarn.lock

# Mintlify
.mintlify/

# OS / editor
.DS_Store
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
